.parent{
  background-size: cover;
  background-position: center;
  height: fit-content;
  color: white;
  height: 100vh;
  /* margin-bottom: 1px; */
  padding-bottom: 5rem;
    background-image: url('../../public/towel.jpeg');
    
}
.form-d{
  position: absolute;
  left: 53%;
  top: 655%;
  height: 30vh;
  width: 30vw;
  font-size: 4.5rem;

}
.input-text{
  background: rgba(0, 0, 0, 0);
  font-size: 2rem;
  border-top: none;
  color: white;
  padding-bottom: 1%;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  padding-top: 1%;
}
.input-but{
  margin-top: 2%;
  font-size: 2rem;
  /* margin-left: 12%; */
  padding: 5% 26.5%;
  border: none;
  border-radius: 5999px;
}
