.f10{
    position: absolute;
    top: 204%;
    left: 1%;
}
.f12{
    position: absolute;
    top: 195%;
    left: 12.5%;
}
.f15{
    position: absolute;
    top: 240%;
    left: 2.5%;
}
.f14{
    position: absolute;
    top: 250%;
    left: 13%;
}
.f13{
    position: absolute;
    top: 222%;
    left: 18%;
}
.f21{
    position: absolute;
    top: 198%;
    left: 37%;
}
.f22{
    position: absolute;
    top: 200%;
    left:49%;
}
.f23{
    /* width: 150px; */
    position: absolute;
    top: 233%;
    left: 50%;
}
.f25{
    /* width: 150px; */
    position: absolute;
    top: 230%;
    left: 36%;
}
.f24{
    /* width: 150px; */
    position: absolute;
    top: 250%;
    left: 42%;
}
.f32{
    /* width: 150px; */
    position: absolute;
    top: 198%;
    left: 82%;
}
.f31{
    /* width: 150px; */
    position: absolute;
    top: 206%;
    left: 70%;
}
.f35{
    position: absolute;
    top: 238%;
    left: 73%;
}
.f34{
    position: absolute;
    top: 250%;
    left: 80%;
}
.f33{
    position: absolute;
    top: 225%;
    left: 85%;
}